<div class="jumbotron">
    <h1 class="text-center"><i class="fa fa-check-square" style="color:rgb(6, 170, 6)"></i> yayTasks</h1>
    <p class="text-center">The Best Task Management system for those with goals!</p>
    <%=link_to 'Sign Up','#',class: "btn btn-primary btn-lg" %>
</div>